#GIT IGNORE

# Windows files
fullclean.bat
runcheck.bat
linecount.bat
build.bat
buildmake.bat
run.bat
rungdb.bat
project_vs2013/
project_vs2013/*

# Testing
data/ClusterLogAll.txt
data/ClusterLogSmall.txt
Testing/

# Build files
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile
bin/LUCIDCalibrate.exe
bin/lolcat

# Output
log.txt

# Documentation
doc/
